<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path do%>
        <%= image_tag('logo.svg', width: '40px') %>
      <% end %>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%= link_to t('header.menu.main'), main_path, class: current_link_class(main_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.parts'), parts_path, class: current_link_class(parts_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.services'), services_path, class: current_link_class(services_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.contacts'), contacts_path, class: current_link_class(contacts_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.about'), about_path, class: current_link_class(about_path) %>
        </li>
      </ul>
    </div>
  </div>
</header>
